.register {
    form {
        .password-requirements.disabled {
            display: none;
        }

        .password-requirements {
            width: 100%;
            background-color: rgba(18, 18, 18, 0.2);
            margin-top: 5px;
            padding: 5px 0px 5px 24px;
            border-radius: 5px;
            font-size: 12px;
            font-weight: 500;
            overflow: hidden;
            animation: password-requirements 0.4s forwards;
            
            .password-requirement {
                color: white;
                text-align: left;
            }

            .password-requirement.incorrect {
                color: red;
            }

            .password-requirement.correct {
                color: green;
                animation: password-requirement 0.4s;
            }
        }

        .showPassword {
            width: 100%;
            margin-top: 5px;
            display: flex;
            gap: 5px;
            justify-content: flex-end;

            label {
                margin-top: 0 !important;
            }
        }

        .incorrect-text {
            align-self: flex-start;

            p {
                color: red !important;
                font-size: 12px;
            }
        }
    }
}

@keyframes password-requirements {
    0% {
        height: 0;
    }
    100% {
        height: 100px;
    }
}

@keyframes password-requirement {
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}